@font-face {
    font-family: 'FrankGoth';
    src: url('../fonts/FranklinGothic/FranklinGothic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SansPro-Regular';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  }
