@import "./variables.scss";
.banner {
    background-image: url("../../../AKQA/assets/images/cover.png");
    height: 478.25px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -2px;

    &__content {
        padding-top: 5rem;
        p {
            font-family: "Franklin Gothic Medium";
            font-size: 18px;
            color: $white;
            letter-spacing: 0.5px;
            margin-top: 27px;

            @media screen and (min-width: 768px) {
                width: 38%;
                font-size: 28px;
            }
        }
    }
}
