@import "./variables.scss";
// @import "./banner-component.scss";
// @import "./pack-section-components.scss";
// @import "./stats-section-component.scss";
// @import "./video-section-component.scss";
// @import "./clinical-section-component.scss";
// @import "./videolist-section-component.scss";
// @import "./accordion-component.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Franklin Gothic regular";
}
header {
    .logo-container {
        @media screen and(min-width: 768px) {
            padding-left: 8rem !important;
        }

        margin-top: 20px !important;

        .search {
            width: 70%;
            position: relative;
            display: flex;
        }
        .search-text {
            width: 100%;
            border: 1px solid $grey;
            border-right: none;
            padding: 12px;
            border-radius: 30px 0 0 30px;
            outline: none;
            text-transform: uppercase;
            color: $primary-color;
        }
        .search-text:focus {
            color: $primary-color;
        }
        .search-button {
            width: 40px;
            height: 50px;
            padding-right: 20px;
            border-left: none !important;
            border: 1px solid $grey;
            background: transparent;
            text-align: center;
            color: $black;
            border-radius: 0 30px 30px 0;
            cursor: pointer;
            font-size: 20px;
        }

        input {
            border-radius: 20px;
            padding: 0.5rem 5rem;
            position: relative;

            i {
                position: absolute;
                right: 10px;
            }
        }
    }

    .navbar {
        overflow: hidden;
        background-color: $white;
        position: unset !important;
        justify-content: unset !important;

        @media screen and (min-width: 768px) {
            padding-left: 7rem;
        }
    }

    .navbar {
        a {
            float: left;
            font-size: 16px;
            color: $black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }

    .subnav {
        float: left;
        overflow: hidden;
    }

    .subnav {
        .subnavbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: $black;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            position: relative;
            i {
                display: none;
            }
        }
    }

    .subnav {
        &:hover,
        &:focus {
            .subnavbtn {
                i {
                    display: block;
                    position: absolute;
                    bottom: -10px;
                    left: 40%;
                    font-size: 30px;
                    color: $grey;
                }
            }
        }
    }

    .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        color: $grey;
        width: 100%;
        z-index: 1;

        background-color: $grey;
        @media screen and (min-width: 768px) {
            padding-left: 7rem;
        }
    }

    .subnav-content {
        a {
            float: left;
            color: $primary-color;
            text-decoration: none;
        }
    }

    .subnav-content {
        a:hover {
            background-color: $grey;
            color: $black;
        }
    }

    .subnav {
        &:hover,
        &:focus {
            .subnav-content {
                display: block;
            }
        }
    }
}

footer {
    background-color: $primary-color;
    padding: 1rem 0rem;
    @media screen and(min-width: 768px) {
        padding: 6rem 12rem 1rem;
    }

    section {
        display: flex;
        img {
            text-align: left;
        }
        p {
            color: $white;
            font-size: 14px;
        }
    }

    .links {
        text-align: center;
        ul {
            list-style: none;
            margin-bottom: 0px;
            li {
                width: auto;
                display: inline-block;
                border-right: 1px solid $white;
                font-size: 16px;
                margin-right: 11px;
                padding-right: 16px;

                &:last-child {
                    border-right: none;
                }
                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}

*:focus {
    border: 1px solid $black;
}
